{% extends "base.html" %}

{% comment %}
Copyright 2011 Authors of PyTask.

This file is part of PyTask.

PyTask is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

PyTask is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the GNU General Public License
along with PyTask. If not, see <http://www.gnu.org/licenses/>.
{% endcomment%}


{% block content %}
<center><h2> Converted Text Books </h2></center><br/>
<ol>
   <li><a href="/pytask/static/converted_textbooks/Airplane aerodynamics and performance.zip"> Airplane aerodynamics and performance - Jan Roskam, Chuan-Tau Edward Lan.</a>
<li> <a href="/pytask/static/converted_textbooks/Engineering-thermodynamics-Moran-Shapiro.zip">Fundamentals of Engineering Thermodynamics - Michael J. Moran , Howard N. Shapiro.</a>
<li><a href="/pytask/static/converted_textbooks/Fundamentals of Aerodynamics, JD Anderson, 5 Chapters (1-5), 3 Pynts.zip">Fundamentals of Aerodynamics - John D. Anderson, Jr.</a>
<li> <a href="/pytask/static/converted_textbooks/ Introduction To Probability Models (Sixth Ed) by SheldonMRoss.zip">Introduction to Probability Models, Sixth Edition - Sheldon M. Ross</a>

</ol>
    
{% endblock %}
