{% extends "base.html" %}

{% comment %}
Copyright 2011 Authors of PyTask.

This file is part of PyTask.

PyTask is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

PyTask is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the GNU General Public License
along with PyTask.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment%}


{% block content %}
<center><h2> Internship Forms </h2></center>
<p align="justify">You may download following forms related to Textbook Companion Internship. These forms (except the Receipt Form ) are to be filled by you and send them to us. Note that the Receipt Form is to be sent to us only when the Textbook Companion creation has been completed by you and reviewed by us. </p>
<ul>
<li><a href="/pytask/static/forms/Guidelines.pdf">Undertaking Form </a>
<li><a href="/pytask/static/forms/Python_Internship_form.pdf">Internship Form</a>
<li><a href="/pytask/static/forms/Copyright_transfer_form.pdf">Copyright Transfer Form</a>
<li><a href="/pytask/static/forms/Guidelines.pdf">Guidelines</a>
<li><a href="/pytask/static/forms/Certification_form.pdf">Certification Form</a>
<li><a href="/pytask/static/forms/Python_receipt.pdf">Receipt Form</a>
<li><a href="/pytask/static/forms/Python_example_recipt_form.jpg">Example-Filled-Receipt</a>
</ul>

<p align="justify"><b>The mailing address for these forms is:</b><br>

Prabhu Ramachandran<br>

Department of Aerospace Engineering,<br>

IIT Bombay, Mumbai,<br>

INDIA - 400 076<br>

Phone: +91 22 2576 7121<br>


Please write "Textbook Companion" on top of the envelope.</p>


{% endblock %}
