{% extends "base.html" %}

{% comment %}
Copyright 2011 Authors of PyTask.

This file is part of PyTask.

PyTask is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

PyTask is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the GNU General Public License
along with PyTask. If not, see <http://www.gnu.org/licenses/>.
{% endcomment%}


{% block content %}
<style>

table th, table td {
    padding: 0px 40px 15px;
    text-align: left;
}
</style>
<center><h2> Proposal Status </h2></center><br/>
<hr>
{% for proposal in proposals %}
<h3>Proposed Books</h3>
<table>
{% for book in proposal.textbooks.all %}
 <tr><td width=20%>{{ forloop.counter }}<td style="text-align:left;"> {{ book.name }} <br>
 {% endfor %}
</table>
<hr>
<h3>Accepted Book</h3>
<table>
<tr style='font-size:15px;'><td><b>{{ proposal.accepted.name }}</b> <td><b> {{proposal.accepted.author }} </b><td><b>{{proposal.accepted.detail }} </b>
 </table>
 <table>
 <form name=proposal{{proposal.id}} method="post" enctype="multipart/form-data">
	 {% csrf_token %}
 <tr><td><input type=file name='files{{proposal.id}}'><td><input type="submit" name=proposal{{proposal.id}} value="Submit Examples">
 </form>
 </table>
<hr>
{% endfor %}
{% endblock %}
