{% extends "base.html" %}

{% comment %}
Copyright 2011 Authors of PyTask.

This file is part of PyTask.

PyTask is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

PyTask is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the GNU General Public License
along with PyTask. If not, see <http://www.gnu.org/licenses/>.
{% endcomment%}


{% block content %}

<script>

function check()
{
    names = document.getElementsByName('book_name');
    authors = document.getElementsByName('author');


    for(var i=0; i<names.length; i++)
    {
        if (names[i].value=="" || authors[i].value=="")
        {
            alert("Book Names or Author Names cannot be empty");
            return false;
        }
    }
}

</script>
<center><h2> Submit New Proposal </h2></center><br/>
<form method="post">
	{% csrf_token %}
<table>
<tr><th>Sr. No.
<th>Book Name
<th>Author(s)
<th>Details
{% for form in forms %}
    <tr><td> {{ forloop.counter }} <td>{{ form.book_name }}
    <td>{{ form.author }}
    <td>{{ form.details }}
{% endfor %}
</tr>
<tr><td><td colspan=3><input type=submit value="Submit Proposal" onclick="return check();" />
</table>
</form>
{% endblock %}
