{% extends "base.html" %}

{% comment %}
Copyright 2011 Authors of PyTask.

This file is part of PyTask.

PyTask is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

PyTask is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the GNU General Public License
along with PyTask. If not, see <http://www.gnu.org/licenses/>.
{% endcomment%}


{% block content %}
<center><h3> New Proposals </h3></center><br/>
<hr>
<table border=1>
	<tr>
		<th> User Name</th>
		<th colspan="3">Proposed Books</th>
		<th>Accepted Book</th>
		<th> &nbsp;</th>
	</tr>
{% for p in proposals %}
<tr>
<td>{{ p.user }}
	{% for book in p.textbooks.all %}
	<td><input type=radio name={{p.user}} value={{book.name}}> {{ book.name }}
	{% endfor %} 
	<td>{{ p.accepted }}
	<td><input type="submit" name="accept" value="nothing" /></td>
{% endfor %}
</table>
{% endblock %}
